html * {
  color:                  #444;
}

html {
  background:             #F5FCFC url(../images/xadrez.gif);
}

h1 {
  color:                  #B4540D;
}

strong, em {
  color:                  #111;
}

a:hover {
  color:                  #B4540D;
}

/* Header */
#header {
  background:             #EDE8D2;
}

#header img {
  color:                  #415579;
}

#header li a {
  color:                  #415579;
}
#header li a:hover {
  color:                  #555;
}
#header li a:active {
  background:             #EDE8D2 url(../images/header_button_a.gif) no-repeat center center;
}

#global_search #query {
  background:             #FFF;
  border-color:           #EDE8D2;
}
/* /Header */


/* Main content */
#main_content {
  background:             #FAF8F2 url(../images/pano.jpg);
  border-color:           #EDE8D2;
}

#main_content h2 #selection_size {
  color:                  #B4540D;
}
/* /Main content */


/* Thumbnails list */
ul#thumbnails div a {
  background:             #DEC9A0 url(../images/scrap_gallery.jpg) no-repeat center;
}
ul#thumbnails div a:hover {
  background-image:       url(../images/scrap_gallery_h.jpg);
}

ul#thumbnails a img {
	color:                  #7F6B43;
  border-color:           #896A3D;
  border-right-color:     #DAD5C5;
  border-bottom-color:    #DAD5C5;
}

ul#thumbnails a:hover img {
	color:                  #333;
}

body#gallery #thumbnails, 
body#search #thumbnails {
  background:             transparent url(../images/gallery_ul_thumbs.gif) top left;
}

body#gallery #thumbnails div a, 
body#search #thumbnails div a {
  background:             none;
}

body#gallery #thumbnails div img, 
body#search #thumbnails div img {
  background:             #FFF;
  border-color:           #EDE8D2;
}
/* /Thumbnails list */


/* Summary */
#summary {
  background:             #EDE8D2 url(../images/coracao.gif) no-repeat top right;
}
/* /Summary */


/* Big picture, big video */
#big_picture a {
	color:                  #B4540D;
	background:             transparent url(../images/previous_next.gif) repeat-x bottom center;
}

#big_picture img {
  color:                  #333;
}
/* /Big picture, big video */


/* Tags and searchable items */
#tags a, 
#valid_search_suggestions a, 
#searched_item {
  color:                  #B4540D;
}
/* /Tags and searchable items */


/* Contact form */
input, textarea {
  background:             none;
  border-color:           #BAA984;
}
input:focus, textarea:focus {
  border-color:           #415579;
}

button {
  color:                  #FFF;
  background:             #415579;
}

button.submitting {
  background:             #999 url(../images/form_spinner.gif) no-repeat 95% center;
}
/* /Contact form */


/* Errors and Successes */
#submit_error, #submit_success, #not_found {
  color:                  #FFF;
}

#submit_error {
  background:             #ED0049;
}
#submit_success, #not_found {
  background:             #415579;
}

.email_field_with_errors {
  border-color:           #ED0049;
}
/* /Errors and Successes */


/* Error pages */
body.application #main_content h2 {
  background:             transparent url(http://farm3.static.flickr.com/2083/2396719449_faf0977db8.jpg) no-repeat right center;
}
/* /Error pages */


/* Generated content */
body#selection #main_content h1:after {
  color:                  #444;
}
/* /Generated content */


/* Footer */
#footer {
  background:             #EDE8D2;
}
/* /Footer */ 